body p {font-family: 'Work Sans', sans-serif  ;}
.container, .content {background-color:#f8f8f8;}
body h2 {color:#b77400 !important; margin-top:1rem !important; margin-bottom:.75rem !important;}
body h3 {color:#006a6d !important; font-family: itim;}
body a {font-family: itim;}  

.case-studies p {margin-bottom:0;}
.case-container {border-radius:8px; border:1px solid #a6a6a6; background-color: #f1f1f1; padding:.75rem }
.case-container h3 {font-family: itim; font-weight:bold; text-align: center; margin-top:0}
.case-container ul, .case-container li, .project-application {padding:0; margin:0; list-style-type: none; text-align:center;}
.case-container li, .project-application li {border-right:1px solid #a6a6a6; padding-right:8px; margin-right:3px; display:inline-block;  }
.case-container li:last-child, .project-application li:last-child {border-right:0; padding:0; margin:0;}
.project-application {text-align:left;}
.project-application li {top:0; font-size:16px; text-align:left; display:inline-block; margin-bottom:10px}
.case-container a, .case-container span { text-align:center; display:block; margin-top:10px; font-weight:bold; color:#b77400 }
.case-studies a {font-weight:500;   color:#b77400 }
.mollyimage {float:right; display:block; margin-left:10px; margin-bottom:20px;}