<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <!-- Required meta stuff -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--fonts-->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nunito:ital,wght@0,400;0,800;1,600&display=swap" rel="stylesheet"> -->

    <!-- Our custom CSS -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/styles.css?v=1.1" />
    <!-- Change the `v=0.1` to a different number if there are cache issues. -->

    <title>{{ page.title }} | Molly Prower</title>
  </head>
  <body class="bg-[#ff8000] min-h-full"> <!-- Original: #ff8000 -->
    <div class="container mx-auto">
      <div class="grid grid-flow-row-dense grid-cols-[380px_auto] grid-rows-[7rem_auto] h-screen">
        <!-- Side bar -->
        <div
          id="sidebar-top"
          class="text-[#f1f1f1] bg-[#81726a] border-l-[1rem] border-r-[3rem] border-[#f1f1f1]"
        >
          <div
            id="inner"
            class="border-l-[2rem] border-[#68534d] p-4 h-full"
          >
            <a class="hover:text-orange-500" href="/">
              <h1 class="text-4xl mb-2">Molly Prower</h1>
              <h2 class="text-2xl">UX Generalist</h2>
            </a>
          </div>
        </div>

        <div
          id="sidebar-bottom"
          class="row-start-2 col-start-1 text-[#f1f1f1] bg-[#81726a] border-l-[1rem] border-r-[3rem] border-[#f1f1f1] "
        >
          <div
            id="inner"
            class="border-l-[2rem] border-[#68534d] h-full"
          >
            <ul class="border-t-4 border-t-[#f1f1f1] p-4">
              <li class="sidebar-link {% if page.url == '/' %}active{% endif %}">
                <a
                  class="block py-1 pl-[3rem]"
                  href="/"
                >About</a>
              </li>
              {% for tab in site.tabs %}
              <li class="sidebar-link {% if page.url == tab.url %}active{% endif %}">
                <a
                  class="block py-1 pl-[3rem]"
                  href="{{ tab.url }}"
                >{{ tab.title }}</a>
              </li>
              </li>
              {% endfor %}
              <!-- <li class="sidebar-link {% if page.sidebar_link == 'case_studies' %}active{% endif %}">
                <a
                  class="block py-1 pl-[3rem]"
                  href=""
                >Case Studies</a>
              </li>
              <li class="sidebar-link {% if page.sidebar_link == 'resume' %}active{% endif %}">
                <a
                  class="block py-1 pl-[3rem]"
                  href=""
                >Resume</a>
              </li> -->
            </ul>
          </div>
        </div>
        <!-- END Side bar -->

        <div
          id="content"
          class="row-start-2 col-start-2 border-t-4 border-[#f1f1f1] "
        >
          <div class="prose pt-4 pl-8 text-black text-lg">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
