---
layout: default
---

<div class="flex items-start flex-col">
  <!-- font-medium text-xs uppercase -->
  <a
    class="no-underline flex space-x-2 items-center px-4 py-2
            text-white shadow-md leading-tight rounded
            hover:shadow-lg
      focus:shadow-lg focus:outline-none focus:ring-0
          active:shadow-lg
           transition duration-150 ease-in-out"
    href="/projects/"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
    </svg>
    <span>Back to Projects</span>
  </a>
</div>

{{ content }}
